<div class="filter-product" style="display: flex; justify-content: flex-end">
  <div filter-div class="col-2">
    <form form-sort-by action="">
      <select sort-by-product name="sort_by" class="form-select" aria-label="Default select example">
        <option option {% if sort_by == 'manual'  or not sort_by %}selected{% endif %} value="manual">Sản phẩm nổi bật</option>
        <option option {% if sort_by == 'price-ascending' %}selected{% endif %} value="price-ascending">Giá: Tăng dần</option>
        <option option {% if sort_by == 'price-descending' %}selected{% endif %} value="price-descending">Giá: Giảm dần</option>
        <option option {% if sort_by == 'title-ascending' %}selected{% endif %} value="title-ascending">Tên: A-Z</option>
        <option option {% if sort_by == 'title-descending' %}selected{% endif %} value="title-descending">Tên: Z-A</option>
        <option option {% if sort_by == 'created-ascending' %}selected{% endif %} value="created-ascending">Cũ nhất</option>
        <option option {% if sort_by == 'created-descending' %}selected{% endif %} value="created-descending">Mới nhất</option>
        <option option {% if sort_by == 'best-selling' %}selected{% endif %} value="best-selling">Bán chạy nhất</option>
        <option option {% if sort_by == 'quantity-descending' %}selected{% endif %} value="quantity-descending">Tồn kho: Giảm dần</option>
      </select>
    </form>
    <i class="bi bi-sort-alpha-down a-z-icon"></i>
  </div>
</div>