{% load static %}
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container d-flex justify-content-center py-4">
    <div class="row w-100">
      <div class="col-4">
        <div>
          <img src="{% static 'images/logo.webp' %}" height="60px" alt="Logo">
        </div>
        <div>
          <div style="width: 5%;">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div style="width: 95%;" class="text-light">
            Địa chỉ
            <span>
              <br>
              - MIỀN BẮC:
              <br>
              Số 09 Nguyễn Hoàng, phường Mỹ Đình, quận Nam Từ Liêm,TP. Hà Nội. 
              <br>
              Liên hệ trực tiếp: 0961.243.888 - 0961.275.888
              <br> <br>
              - MIỀN NAM: 
              <br>
              Số 59 đường 3/2, phường 11, quận 10, TP. Hồ Chí Minh. 
              <br>
              Liên hệ trực tiếp: 0961.249.888 - 0968.839.188
              <br>
            </span>
          </div>
        </div>
      </div>
      <div class="col-4 text-light">
        <h5>HỖ TRỢ KHÁCH HÀNG</h5>
        <div class="footer-item">
          <div>Giới thiệu</div>
          <div>Hướng dẫn thanh toán</div>
          <div>Hệ thống cửa hàng</div>
          <div>Liên hệ</div>
        </div>
      </div>
      <div class="col-4 text-light">
        <h5>CHÍNH SÁCH</h5>
        <div class="footer-item">
          <div>Chính sách hạng thẻ</div>
          <div>Chính sách vận chuyển</div>
          <div>Chính sách bảo hành</div>
          <div>Điều khoản dịch vụ</div>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  .footer-item div {
    font-weight: 600;
  }
</style>