{% load static %}
<div payment-img class="payment-card d-none">
  <div class="x-mark-div">
    <i class="fa-regular fa-circle-xmark x-icon-img"></i>
  </div>
  <div class="content-payment-div">
    <center>
      <div class="note-payment">
        <p><strong>Vui Lòng Quét Mã Bên Dưới Để Chuyển Khoản</strong></p>
        <i>Nội dung chuyển khoản:  'Họ Tên + Số Điện Thoại'</i>
      </div>
      <div class="payment-img">
        <img src="{% static 'images/paymentimg.jpg' %}" alt="Ảnh Thanh Toán">
      </div>
    </center>
    <form action="/payment/process-order/" method="POST" class="btn-payment-div">
      {% csrf_token %}
      <button class="btn btn-danger" confirm-payment style="text-decoration: none">Đã Thanh Toán</button>
    </form>
  </div>
</div>