.payment-card {
  position: fixed; 
  background-color: #222; 
  height: 100vh; 
  width: 100vw;
  z-index: 99999; 
  top: 0;
  right: 0;
  padding: 30px;
}
.content-payment-div {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.payment-img {
  margin: 20px;
}
.payment-img img {
  width: 30vw;
  height: auto;
}
.note-payment strong {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fbe2dd;
}
.note-payment i {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fbe2dd;
}
.x-mark-div {
  display: flex;
  justify-content: flex-end;
}
.x-icon-img {
  cursor: pointer;
  font-size: 25px;
  color: red;
}
.btn-payment-div {
  display: flex;
  justify-content: center;
}